@font-face {
  font-family: "Enriqueta";
  src: url("../fonts/Enriqueta-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#tree-of-virtues{
  height: 100vh;
}

#tree-div{
  width: 50%;
  top: 0px;
  right: 0px;
  position: fixed;
}

#book{
  width: 50%;
  float: left;
}

.sentences{
  font-family: "Enriqueta";
  top: 200px;
  left: 200px;
}

.sentencesTitle{
  font-family: "Enriqueta";
  font-size: 24px;
}



.changingText{
  font-family: "Enriqueta";
  font-size: 18px;
  cursor: pointer;
  margin-left: 100px;
}

@media screen and (max-width: 992px) {

  .sentences{
    left: 0px;
    width: 100vw;
  }

  .sentencesTitle{
    font-size: 42px;
  }

  .changingText{
    font-size: 35px;
    cursor: pointer;
    margin-left: 0px;
  }

}
