.gameboard {
  position: relative;
  height: 1200px;
}

.boardelements {
  position: absolute;

  width: 80vw;
}

#virtueSlogans{
  margin-top: 100px;
}

.readOutLoud{
  cursor: pointer;
  margin-left: 30px;
}

.sentences{
  top: 200px;
  left: 200px;
  width: 400px;
}

.changingText{
  cursor: pointer;
  margin-left: 30px;
}

#pointer{
  opacity: 0.8;
}

#rotatebutton {
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 130px;
  font-size: 100px;
  width: 130px;
  height: 130px;
  background-color: white;
  border: none;
  color: black;
  border-radius: 50%;
}

.buttons{
  cursor: pointer;
  position: fixed;
  top: 45px;
  right: 130px;
  font-size: 100px;
  width: 130px;
  height: 130px;
  background-color: white;
  border: none;
  color: black;
  border-radius: 50%;
}

#dice{
  font-size: 150px;
  top: 160px;
  right: 130px;
}
