.gameboard {
  position: relative;
  height: 900px;
}

.boardelements {
  position: absolute;
  width: 80vw;
}

#pointer{
  opacity: 0.8;
}

#rotatebutton {
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 500px;
  font-size: 70px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 50%;
}

@media screen and (max-width 992px){
  .boardelements {
    position: absolute;
    width: 100%;
  }

  .gameboard {
    position: relative;
  }

  #rotatebutton {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: black;
    border-radius: 50%;
  }
}
